/* font-family: 'Bebas Neue', cursive;
font-family: 'Signika', sans-serif; */

body {
    font-family: 'Signika', sans-serif;
}

h1,
h2 {
    font-family: 'Bebas Neue', cursive;
}

.header {}

.introduction {}

.feature-box {}

.my-card,
.my-card-footer {
    border: none;
}