body {
    font-family: 'Epilogue', sans-serif;
}

/************* TYPOGRAPHY ***********/

h1,
h2 {
    font-family: 'Bebas Neue', cursive;
}

h2 {
    font-size: 3.15rem;
}

h3 {
    font-weight: 600;
    font-size: 1.5rem;
}

.heading {
    font-size: 5rem;
    font-weight: 500;
    line-height: 1;
}

.paragraph {
    font-size: 1rem;
    color: #686d76;
}

.price-tag {
    font-size: 2.75rem;
    font-weight: 600;
}


/************ COLORS **************/

.primary-color {
    color: #1d2d50;
}

.secondary-color {
    color: #77ac51;
}

.my-bgcolor {
    background-color: rgb(230, 239, 245);
}

.my-bgcolor-2 {
    background-color: #c4e4ad;
}

.my-bgcolor-3 {
    background-color: #e0ece4;
}

.btn-bgcolor {
    background-color: #1d2d50;
}

.header li {
    padding: 0 10px;
}

/********* BORDERS AND SHADOWS *********/

.my-shadow {
    box-shadow: 5px 5px 15px rgba(119, 150, 207, 0.25);
}

.my-border {
    border-radius: 15px;
}

.my-border-none {
    border: none;
}

/********* WIDTH, HEIGHT, SPACING **********/

.categories-img {
    height: 10rem;
}

.categories-box {
    padding: 3rem;
    height: 20rem;
}

/*********** HOVER EFFECTS **********/

.categories-box:hover img {
    transform: scale(1.2);
    transition: all .5s;
}

/********* MEDIA QUERIES **********/

@media only screen and (max-width:768px) {
    .my-bgcolor:nth-child(3) {
        background-color: #c4e4ad;
    }

    .my-bgcolor-2:last-child {
        background-color: rgb(230, 239, 245);
    }
}